
<div class="infoBlock">
<!--  <% @records = CheckoutRecord.select("user_id as
  ordered_user_id").group("user_id") %>
  <% @records.each do |record| %>
  <% record %>
  <% end %> -->

<% @records = CheckoutRecord.select(:user_id).uniq %>
<% @records.each do |record| %>
<%= ' ' + record.user.email + ';' %>
<% end %>
  

</div>
