/* Unabashedly c/p sections from Hartl's ROR 3 tutorial */

/* General site formatting */
*{font-family:”Lucida Grande”, sans-serif, serif}
body {
    background-color: #f3f3f3;
}


header {
    padding-top: 20px;
    header-spacing: 10px;
    border: 3px solid gray;
    background-color:black;
    clear:both;
}

header img {
    float:left;
    display:inline-block;
    background: #fff;
}



/* Search view */
div#search{
    position:relative;
    left:100px;
    display:inline-block;
    float:right;
    padding:20px;
    padding-bottom:10px;
    width:240px;
    border:2px solid gray;
    border-radius:10px;
    background-color:white;
}

div#sForm{
    text-align:right;
}

div#sButton{
    padding-top:10px;
    text-align:center;
}

div#sLink{
    text-align:right;
    font-size:10px;
}

div#topBanner{
    display:inline-block;
    position:relative;
}


h1 {
    text-align:center;
    padding:2%;
    padding-bottom:50px;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 5px;
}

a {
    color: #069;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}


p{
    margin-left:3%;
}

ul li p {
    margin-left:5%;
}



/*Navigation links */

header ul {
    margin-bottom:1em;
    padding: 0;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-top:1px solid white;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

header ul li a {
    padding: 0 12px 14px;
    font-weight: bold;
}

header ul li a:visited {
    color: white;
}

header ul li a:hover {
    text-decoration: underline;
}


/* Book formatting */
.book
{
    background-color:white;
    border:2px solid gray;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    padding:8px;
    border-radius:15px;
}


.book a:after
{
    content:"\00a0 \00a0 \00a0";
}

.title
{
    margin-left:5%;
    text-align:left;
    font-size:18px;
}
.title:after
{
    content:"\00a0 \00a0 \00a0 \00a0 \00a0";
}
.moreinfo
{
    margin-left:10%;
    text-align:left;
    font-size:16px;
}




/* Error messages Formatting (from Hartl)*/

.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: #c00;
    display: table;
}

.field_with_errors label {
    color: #fff;
}

#error_explanation {
    width: 400px;
    border: 2px solid #c00;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}




/* Page Container for Text */
.infoBlock{
    padding:20px;
    padding-bottom:10px;
    clear:both;
    width:80%;
    border:2px solid gray;
    border-radius:10px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
}

.clear {
    clear:both;
}




/*For the individual book entry page*/
.indivBook
{
    background-color:white;
    border:2px solid gray;
    padding:8px;
    margin-right:380px;
    border-radius:15px;
}

.numCopiesField
{
    text-align:center;
}


/*For the index page*/
.paginated
{
    margin-left:auto;
    margin-right:auto;
    width:75%;
}
