<div class="paginated">
<%= will_paginate %>
</div>

  <% @users.each do |user| %>
  <div class="infoBlock">
    <%= link_to user.name, user_path(user.id) %></br>
    <%= user.email %>
  </div>
  <% end %>


<div class="paginated">
  <%= will_paginate %>
</div>

<% if @users.count > 10 %>
<a id ="link-to-top" href="#start">Top</a>
<% end %>
