
<div id="pag_message">
  <h1>All users</h1></div>


<%= render 'shared/pag' %>

<% @users.each do |user| %>
<%= render user %>
<% end %>

<%= render 'shared/pag' %>

<% if @users.count > 5 %>
<a id ="link-to-top" href="#start">Top</a>
<% end %>
