<!-- Book authors, edition, copies -->
<p class="moreinfo">
  <strong>Authors(s):</strong> <%= @book.authors %><br>
  <% if @book.edition != nil %>
  <strong>Edition:</strong> <%= @book.edition %>
  <% else %>
  <strong>Edition:</strong> N/A
  <% end %>
  <br>
  <strong>Copies available:</strong> <%= @book.avail_copies
                        %>/<%= @book.total_num_copies %>
</p>
