<div class="paginated">
  <%= will_paginate(:renderer => MinimalPaginationLinkRenderer, 
  :first_label => "&#x027EA;",
  :previous_label => "&#x027E8;", 
  :next_label => "&#x027E9;",
  :last_label => "&#x027EB;") %></div>
