<br/>
<div id="footer-txt">
-----------------------------------<br/>
Contact: textbooks@grinnell.edu<br/>
Search and downdown menu <a href="http://findicons.com/pack/2671/jigsoar">icons</a> designed by <a href="http://humphreybc.com/">Benjamin Humphrey</a>.<br/>
-----------------------------------
</div>
