<br/>
<div id="footer-txt">
-----------------------------------<br/>
Contact: textbooks@grinnell.edu<br/>
Search and dropdown menu icons designed by <a href="http://humphreybc.com/">Benjamin Humphrey</a>.<br/>
Success and failure icons designed by <a href="http://www.everaldo.com/">Everaldo Coelho</a>.<br/>
Icons retrieved from findicons.com<br/>
-----------------------------------
</div>
