<div class="infoBlock">
<h1>Borrowing Books</h1>
<h2>Materials to Bring</h2>
<ol>
  <li>Your Student ID</li>
  <li>A booklist <strong>printed from pweb</strong>. No other list will be accepted.</li> 
  <li>Lots of patience</li>
</ol>

<h2>Procedure</h2>

<p>Come to the library during our open hours with the materials specified
  above. Be prepared to wait in line. When you arrive, you will 
  receive a place card with your position in line; those at the back of the 
  line can leave and return later if necessary. However, if you fail to 
  return before your place card is called, the next person in line will be called.
</p>
<p>When your number is called, we will take your booklist and look up availible copies 
  of those books; be aware that we may not have all the books you require. You must read
  and sign a form (<%= link_to "Sample Checkout Form", 
		       sampleCheckoutForm_path(:format => 'pdf') %>) that defines the 
  conditions for borrowing a book.</p>

<h2>Printing Your Booklist</h2>
<ol>
  <li>Log in to Pioneer Web.</li>
  <li>Click on“Pictorial Class Lists & Book Lists”in the left menu.</li> 
  <li>Click on“View your book list based on your current courses and
    reserve texts” under the list of your courses.</li>
  <li>Print the resulting page(s).</li>
</ol>

<p><strong>Note:</strong> If you are taking a course that has not yet been added to your
  schedule on P-Web, print out a page containing the books for that course
  from the bookstore, and bring both that page and your syllabus in
  addition to your official booklist.</p>
</div>
<a id ="link-to-top" href="#start">Top</a>
