<h2>Procedure for Borrowing Books</h2>

<h4>Materials to Bring</h4>
<ul>
  <li>Your Student ID</li>
  <li>Printed-out booklist (instructions below in the section titled
  "Printing Your Booklist")
  <p>You MUST bring a pweb booklist in order to checkout books; no other
  booklist will be accepted.</p></li> 
  <li>Lots of patience</li>
</ul>

<h4>Procedure</h4>

<p>Come to the library during our open hours with the materials specified
  above. When you arrive, please be prepared to wait in line. You will
  receive a place card with your position in line, and we will call people
  based on that card. Those at the back of the line can leave and return
  later if necessary. So, if you have card 49, and we are working with the
  person who received card 12, you are free to leave and return
  later. However, if you fail to return before your card is called, the next
  person in line will be called.
</p>
<p>When your card is called, you will come to the door of the lending
  library and hand us your booklist. You will read and fill out a form
  regarding your intent to borrow textbooks for the semester (link to a
  sample form is at the end of this section) while we look to see which
  books of those you need are available. We will keep the form as well as
  your printed booklist.
</p>
<p><a href="sampleCheckoutForm.doc">Sample Checkout Form</a></p>

<h4>Printing Your Booklist</h4>
<ol>
  <li>Log in to Pioneer Web.</li>
  <li>Scroll down the page and click on “Pictorial Class Lists & Book
  Lists” on the left side.</li> 
  <li>Click on “View your book list based on your current courses and
  reserve texts” under the list of your courses.
  <p>Note: if you are taking a course that has not yet been added to your
  schedule on P-Web, print out a page containing the books for that course
  from the bookstore, and bring both that page and your syllabus in
  addition to your official booklist.</p></li>
  <li>Print the resulting page from the bookstore website.</li>
</ol>
