<br><br>
<h1>Grinnell Textbook Lending Library</h1>
<p>Welcome to the Grinnell Lending Library!</p>


<p><font size=5>THIS IS IN PROGRESS. It does not represent the contents of
  the Grinnell Textbook Lending Library. Any similarities to books living
  or dead are purely coincidental.</font></p>

<p>Look for the completed site in May 2013! </p>

<ul>
  <li><b>Who are we?</b><p>The Grinnell Textbook Lending Library is a
  student-run library that lends textbooks to students for the semester, as
  well as caps and gowns to graduating seniors. The mission of the Library
  is to defray the high cost of textbooks, especially for students who are
  economically disadvantaged.</p> </li>
  <li><b>Where are we?</b><p>We are located in Read Pit (next to the
  kitchen).</p></li>
  <li><b>When are we open?</b><p>(Hours not yet posted for fall 2013
  semester)</p></li>
  <li><b>How do I check out books?</b><p>(link to explanation
  forthcoming</p></li>
  <li><b>What if I don't return my books?</b><p>If you have checked out
  books and not returned them, you will NOT be able to check out more
  books. You may return the books at checkout, but if you forget to return
  even one, you will still be barred. If for some reason you absolutely
  cannot return a book, you must email us and we will find a
  solution. </p></li>
</ul>


<% if signed_in? == false %>
<li><%= link_to "Manager Sign In", signin_path %></li>      
<% end %>
