<h1>Grinnell Textbook Lending Library</h1>
<p>Welcome to the Grinnell Lending Library!</p>


THIS IS IN PROGRESS.
It does not represent the contents of the Grinnell Textbook Lending
Library. Any similarities to books living or dead are purely coincidental.

Look for the completed site in May 2013! 


<% if signed_in? == false %>
<li><%= link_to "Manager Sign In", signin_path %></li>      
<% end %>
