<h1>Book Database Index page</h1>
<p>Placeholder description of GTLL Database</p> 

<h1>Index of books</h1>

<%= will_paginate %>

<ul class="books" >
  <% @books.each do |book| %>
  <li>
    <%= link_to book.name, book %>
  </li>
  <% end %>
</ul>

<%= will_paginate %>

