<h1>Search Information</h1>

<div class="infoBlock">
<h4>Borrower Beware </h4>
<p>Note that our search function is not as robust as commercial
  companies. Take care with spelling and punctuation.</p>

<h4>What if I am not getting any results?</h4>
<ol>
  <li>Check your spelling. 
    <ul>
      <li>Is the title spelled correctly?</li> 
      <li>Is the name(s) of the author(s) spelled correctly?</li>
    </ul>
  </li>
  <li>Try searching for only one of the authors/only by title.</li>
</ol>

<h4>What can I search for?</h4>
<ul>
  <li>Case-insensitive text match from title
    <br>e.g. "ART OF WAR" and "art of war" return same results
  </li>
  <li>Case-insensitive text match from authors, broken by spaces/punctuation
    <br>e.g. "richard, morris" and "Morris Richard" and "morris, richard"
    return same results
  </li>
  <li>Both title and author(s)</li>
</ul>
</div>
