<h3>Search Information</h3>

<h4>What can I search for?</h4>
<p>The search function currently matches exact sections of text from the
  title, and exact sections from the authors in a case insensitive way. So,
  if there is a book labelled "Some Book" by Important Author, NotImportant
  Authorson, and Completely Irrelevant, you can find it by looking for any
  part of the title in order (i.e. "some book" or "ome BOO" or "some" or
  "BOOK", but not "book some") or any number of the authors' names, or by
  filling in both fields and clicking 'Search'.</p>

<h4>What if I am not getting any results?</h4>
<ol>
  <li>Check your spelling. Is the title spelled correctly? How about the
  name(s) of the author(s)?</li>
  <li>Try searching for only one of the authors, or only by title.</li>
</ol>
