<p>Hello, tech person!</p>
<p>The code for the Grinnell Textbook Lending Library 
  Website is on 
  <a href="https://github.com/GrinnellTextbookLendingLibrary/GTLLDatabase">git hub</a>.</p>
</p>The most recent 
<a href="https://docs.google.com/document/d/1-9VQFrs0ejEvysY4laUB5Dnqkf68_WJwBt2WrQcpCP8/edit?usp=sharing">site documentation</a> 
was written in May 2013, and is kept on Google Drive.</p>
<p>If you take over this project, please update (or replace in new ways) the technical 
  documentation & tech contact information found on:
  <ol>
    <li>The 'Website Notes' page </li>
    <li>This page</li>
  </ol>
</p>
