<div class="infoBlock">

<h1>Website Notes</h1>
<p>From this website, it's possible to add, edit, and destory book and checkout records. 
Please read this guide carefully so you don't accidentally destroy important information. 
If you have questions, please ask a previous manager for help.</p>

<div id="toc">
  <h2>Contents</h2>
  <ul>
    <li><a href= "#permissions">Site Permissions</a></li>
    <li><a href= "#users">Users</a></li>
    <li><a href= "#borrowing">Check In and Check Out</a></li>
    <li><a href= "#books">Book Records</a></li>
    <li><a href= "#resources">Resources</a></li>
  </ul>
</div>

<h2 id="permissions">Site Permissions: What can I do?</h2>

<h3>…When not signed in?</h3>
<p>Non-signed in users can view the homepage, the checkout procedures page, 
  and use the search box to browse book records.
</p>

<h3>…When signed in as a borrower?</h3>
<p>Borrowers can sign in to view their personal Profile page, 
  which lists their name, and any books they have checked out. 
  Borrowers <strong>cannot</strong> change their name, email, or password.
</p>

<h3>…When signed in as a manager?</h3>
<p>Managers can create new user accounts and manager accounts, 
  check books in and out, add new books to the catalog, 
  delete book and user records, download all book records to CSV or Excel, 
  and get lists of all user emails, and all emails of users with checked-out books.
</p>

<h2 id="users">Users</h2>

<h3 id="new-user">Adding Users</h3>
<p>
  In order to checkout a book, a borrower must have a user account. 
  User accounts must be created with both the user and a manager present 
  (typically during book checkout.) Go to Profile -> Add New User. 
  Ask the borrower to fill in their name, email, and password.
</p>

<div class="notice"> 
  <h2>Keep in mind:</h2>
  <ul>
    <li>To distinguish users, make each user provide their full name.</li>
    <li>Unlike many sites, users <strong>cannot</strong> 
      change their password, name, or email once the account has been created.</li>
    <li>You are signed in as a manager. Don't allow the user to do 
      anything on the site beyond adding their personal info.</li>
  </ul>
</div>

<h3 id="user-delete">Deleting Users</h3>
<p>
  All Users -> User -> 'Delete'
</p>

<div class="notice">
  <h2>Keep in mind:</h2>
  <ul>
    <li>Keep at least one Manager account at all times!</li>
    <li>If you delete a user with checked-out books, those books will be assumed lost;
      book records will be updated or deleted accordingly.</li>
    <li>Each user Profile lists the date of creation; you can use this to find old accounts.</li>
  </ul>
</div>

<h3 id="email">Emailing Users</h3>
<p>
  Profile -> 'All User Emails' lists the emails of all users with accounts.<br/>
  Profile -> 'Borrower Emails' list just those users with checked out books.<br/><br/>
  Both lists can be c/p into Outlook.
</p>

<h2 id="borrowing">Check In and Check Out</h2>
<h3 id="checkout">Check Out Books</h3>
<p>
  To checkout a book to Some Student:
  <ol>
    <li>Find the book's listing, and click 'Checkout'. If there's no Checkout link, 
      this means that there are no available copies of that book.</li>
    <li>From the checkout page, select 'Some Student' from the drop-down menu, and click 'Submit'.</li>
  </ol>
</p>

<h3 id="checkin">Check In Books</h3>
<p>
  To check in books from Some Student:
  <ol>
    <li>Go to 'Some Students' Profile page: 'All Users' -> 'Some Student'.</li>
    <li>The Profile page will list Some Student's books. Click on 'Checkin' next to each book you wish to check in.</li>
  </ol>
</p>

<h2 id="books">Book Records</h2>
<h3 id="add-books">Adding Books</h3>
<p>
  There are two ways to add books to the catalog:
  <ol>
    <li>Add new <strong>copies</strong> to an <strong>existing</strong> book record 
      using the 'update copies' form on the book's Entry page.</li>
  <li>Add a <strong>new</strong> book record with the 'New Book' form.</li>
  </ol>
</p>

<div class="notice">
  <h2>Keep in mind:</h2>
  <ul>
    <li>When using 'update copies', the number you enter is the new <strong>total</strong> number of copies. 
      If a book has 5 current copies, and you add 2 copies, you want to enter 7, not 2.</li>
    <li>When adding a new book record, check that the book you are adding isn't already in the catalog!</li>
  </ul>
</div>

<h3 id="book-delete">Deleting Books</h3>
<p>
  There are two ways to remove books from the catalog:
  <ol>
    <li>Remove <strong>copies</strong> of a book 
      using the 'update copies' form on the book's Entry page.</li>
  <li>Delete <strong>all</strong> copies of a book with 'Delete'.</li>
  </ol>
</p>

<h3 id="backup">Record Backup</h3>
<p>
  Profile -> 'Download CSV Records'<br/>
  Profile -> 'Download Excel Records'<br/><br/>
  These methods allow you to backup the current catalog of books 
  (although not user or checkout records) to a CSV or Excel file.
  It's recommended that you backup records at the end of each day you add, modify, or delete book records.
</p>

<h2 id="resources">Resources</h2>

<h3 id="wrong">If Something Goes Wrong</h3>
<p>
  If something goes horribly wrong with the site, and you cannot undo the action yourself,
  you will need the help of someone with access to the website code and database. As of May 2013,
  that person is Kate Ingersoll (ingersol@grinnell.edu).
</p>

<h3 id="change">Future Site Updates</h3>
<p>
  If you would like to see changes to the site, you can ask the tech contact person
  (above) or you can talk to Dr. Davis in the Computer Science department. 
  She may be able to find volunteers in the department to work on the site, 
  either as an independent study or a class project.
</p>
</div>
