<h1>Index of Books</h1>

<div class="paginated">
<%= will_paginate %>
</div>


  <% @books.each do |book| %>
    <%= render book %>
  <% end %>


<div class="paginated">
  <%= will_paginate %>
</div>
