<h1>Index of books</h1>

<div class="paginated">
<%= will_paginate %>
</div>

<ul class="books" >
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</ul>

<div class="paginated">
  <%= will_paginate %>
</div>
