<h1>Index of Books</h1>

 <% if signed_in? %>
 <% if is_manager? %>
<p>
  Download All Records:
  <%= link_to "CSV", records_path(:format => "csv") %>
</p>
 <% end %>
 <% end %>

<div class="paginated">
  <%= will_paginate %>
</div>
<% @books.each do |book| %>
<%= render book %>
<% end %>
<div class="paginated">
  <%= will_paginate %>
</div>
